body {
    background-color: #23242c;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    background-color: #6c757d;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    color: white;
    padding: 10px 0;
}

hr {
    border: none;
    border-top: 1px solid #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
}

.form-group label {
    font-size: 25px;
    display: block;
    text-align: center;
    color: white;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #999;
}

.form-group select option:first-child {
    display: none;
}

.form-group button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #00a0c6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
}

.result {
    color: white;
    text-align: center;
    margin-top: 25px;
    font-size: 23px;
}

.containerGrafico {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}